:root {
    --color1:white;
    --color2:rgb(26, 150, 150);

    --offset:50px;
  }

.contain {
    padding-left: var(--offset);
    padding-right: var(--offset);
}

#header .login {
    padding: 20px 0 10px 0;
}

#header .login .contain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;   
}

#header .login .brand img{
    width: 50%;
}

#header .login .links a{

    text-transform: uppercase;
    text-decoration: none;

    padding-left: 10px;

    color: var(--color2);
    font-weight: 500;

}

#header .navbar{
    background-color: var(--color2); 
    padding-top:10px ;
    padding-bottom: 10px;
}

#header .navbar .navbar-brand img{
    width: 70%;
}

#header .navbar a{
    text-transform: uppercase;

    color: var(--color1);
}
    
button.get-started{
    background-color: transparent;
    border-style: solid;
    border-color: var(--color1);
    border-radius: 2px;

    padding: 5px 40px;

    text-transform: uppercase;
    color: white;
}

#intro .hero {
    padding-top:100px;
    padding-bottom: 100px;

    background-color:black;

    
}

#intro .hero .contain{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:0 0;

    width: fit-content;
    position: relative;
    left:50%;
    transform: translateX(-50%);

    color: var(--color1);    
}


#intro .hero .contain .showcase img.product{
    width: 90%;
}

#intro .hero .contain .description .title{
    width: fit-content;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#intro .hero .contain .description .title img.logo-name{
    width:250px;
}


#intro .hero .contain .description .title .logo-by span{
    font-size: 20px;
}
#intro .hero .contain .description .title img.logo-by{
    width: 70px;
    vertical-align: baseline;
}

#intro .hero .contain .description .description{
    padding-top: 50px;
}

#intro .hero .contain .description .description h1{
    text-transform: uppercase;
    letter-spacing: 2px;
}
#intro .hero .contain .description .description p{
    letter-spacing: 1px;
}
#intro .hero .contain .description .brand{
    text-transform: uppercase;
}

#intro .hero .contain .call-to-action {
    padding-top: 50px;
}

#intro .hero .contain .call-to-action .get-started{
    background-color: var(--color2);
    border-style: none;
    padding: 10px 50px;
}
